#content{
	width: 600px;
	height: 416px;
	border: 1px solid saddlebrown;
	margin: 0 auto;
}

.myDiv2{
	width: 100%;
	height: 50px;
	line-height: 3em;
	border: 1px solid saddlebrown;
	background-color: lightskyblue;
}

.myDiv2:hover{
	background-color: seagreen;
	color: white;
}

.checkbox{
	width: 50px;
	height: 50px;
	text-align: center;
	border-right: 1px solid saddlebrown;
	float: left;
}

.div3{
	text-indent: 20px;
}

#myDiv1{
	margin-left: 40px;
	margin-top: 50px;
}

#checkAll:hover {
	color: steelblue;
}

#unCheckAll:hover {
	color: red;
}

#checkAll, #unCheckAll{
	color: gray;
	text-decoration: underline;
	margin-left: 10px;
} 
